// Mod   = Configurable bind Niri uses, refers to Super
// Super = Real Super key

/*

	KEYBINDS:

	SUPER C           = CLOSE WINDOW
	SUPER SHIFT F     = TOGGLE FLOATING WINDOW
	SUPER F           = APP SEARCHER

	SUPER SHIFT S     = SCREENSHOT

	SUPER Q           = OPEN TERMINAL

	SUPER <-          = MOVE 1 WINDOW LEFT
	SUPER ->          = MOVE 1 WINDOW RIGHT
	SUPER SCROLL UP   = MOVE 1 WINDOW LEFT
	SUPER SCROLL DOWN = MOVE 1 WINDOW RIGHT
	SUPER SHIFT <-    = MOVE 1 WORKSPACE LEFT
	SUPER SHIFT ->    = MOVE 1 WORKSPACE RIGHT
	SUPER ^			  = MOVE UP 1 WORKSPACE
	SUPER v           = MOVE DOWN 1 WORKSPACE
	SUPER <NUMBER>	  = MOVE TO WORKSPACE N

*/

binds {
	// GENERAL
	Mod+C {
		close-window;
	}

	Mod+Shift+F {
		toggle-window-floating;
	}

	Mod+Shift+S {
		spawn "bash" "-c" "python3 ~/.config/niri/scripts/capture.py";
	}

	Mod+F {
		spawn "bash" "-c" "fuzzel";
	}

	// APPLICATIONS
	Mod+Q {
		spawn "bash" "-c" "python3 ~/.config/niri/scripts/terminal.py";
	}

	Mod+B {
		spawn "bash" "-c" "flatpak run app.zen_browser.zen"
	}

	Mod+D {
		spawn "bash" "-c" "vesktop"
	}

	// NAVIGATION
	/// Arrow Keys
	Mod+Left {
		focus-column-left;
	}

	Mod+Right {
		focus-column-right;
	}

	Mod+Shift+Left {
		move-workspace-to-monitor-left;
	}

	Mod+Shift+Right {
		move-workspace-to-monitor-right;
	}
	
	Mod+Up {
		focus-workspace-up;
	}

	Mod+Down {
		focus-workspace-down;
	}

	/// Scroll Wheel
	Mod+WheelScrollUp {
		focus-column-left;
	}

	Mod+WheelScrollDown {
		focus-column-right;
	}

	/// Number Keys
	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }
	Mod+0 { focus-workspace 0; }
}